{% extends "layouts/base.html" %}
{% load i18n custom_filters %}

{% block title %}{{ glossary_item.name }} - {% translate "Glossary" %}{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <div class="row">
        <div class="col-12 my-auto">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">{% translate "Home" %}</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'glossary:list' %}">{% translate "Glossary" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page" title="{{ glossary_item.name }}">{{ glossary_item.name|truncatechars:50 }}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-3">
        <div class="col-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link {% if 'view' in request.path %}active fw-bold{% endif %}" href="{% url 'glossary:detail_view' glossary_item.id %}">
                        {% translate "Details" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'edit' in request.path %}active fw-bold{% endif %}" href="{% url 'glossary:detail_edit' glossary_item.id %}">
                        {% translate "Edit" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'history' in request.path %}active fw-bold{% endif %}" href="{% url 'glossary:detail_history' glossary_item.id %}">
                        {% translate "History" %}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    {% block glossary_item_detail_content %}{% endblock %}
</div>
{% endblock %}
