{% extends "layouts/base.html" %}
{% load render_table from django_tables2 %}
{% load i18n django_bootstrap5 %}

{% block title %}{% translate "Glossary" %}{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <div class="row">
        <div class="col-12 my-auto">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">{% translate "Home" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{% translate "Glossary" %}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-9">
            <h1>{% translate "Glossary" %} <span class="fs-3 text-muted">{{ glossary.count }}</span></h1>
        </div>
        <div class="col-3 text-end my-auto">
            <a class="btn btn-success btn-sm" href="{% url 'glossary:create' %}">{% translate "Add" %}</a>
        </div>
    </div>
    <!-- Table -->
    <div class="row">
        <div class="col-12">
            {% render_table table %}
        </div>
    </div>
</div>
{% endblock %}
