{% extends "profile/comments_base.html" %}
{% load render_table from django_tables2 %}
{% load i18n django_bootstrap5 %}

{% block profile_comments_content %}
<div class="row">
    <div class="col-9">
        <h1>{% translate "All comments" %} <span class="fs-3 text-muted">{{ user_comments.count }}</span></h1>
    </div>
    <div class="col-3 text-end my-auto">
        <button type="button" class="btn {% if search_filters %}btn-warning{% else %}btn-secondary{% endif %} btn-sm btn-ico" data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
            <span>{% translate "Filters" %}&nbsp;</span>
            <span id="collapse-down-ico">⏷</span>
            <span id="collapse-up-ico">⏶</span>
        </button>
    </div>
</div>
<!-- Filters: list -->
{% if search_filters %}
<p>
    {% include "includes/_filter_badge_list.html" with search_filters=search_filters model_name="Comment" %}
</p>
{% endif %}
<!-- Filters: form -->
<form action="" method="get" id="collapseFilters" class="mb-3 collapse">
    {% bootstrap_form filter.form layout="horizontal" %}
    <div class="col-12 text-end">
        {% bootstrap_button button_type="submit" content=_("Filter") %}
    </div>
</form>
<!-- Table -->
<div class="row overflow-scroll">
    <div class="col-12">
        {% render_table table %}
    </div>
</div>
{% endblock %}
