{% extends "layouts/base.html" %}

{% block title %}Mon espace{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <div class="row">
        <div class="col-12 my-auto">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Mon espace</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mon profil</h5>
                    <a class="btn btn-primary" href="{% url 'profile:info' %}">Voir</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mes questions <small class="text-muted">{{ user.question_count }}</small></h5>
                    <a class="btn btn-primary" href="{% url 'profile:questions' %}">Voir</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mes quizs <small class="text-muted">{{ user.quiz_count }}</small></h5>
                    <a class="btn btn-primary" href="{% url 'profile:quizs' %}">Voir</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mon historique</h5>
                    <a class="btn btn-primary" href="{% url 'profile:history' %}">Voir</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
