{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %}{% translate "My space" %}{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <div class="row">
        <div class="col-12 my-auto">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">{% translate "Home" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{% translate "My space" %}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-9">
            <h1>{% translate "My content" %}</h1>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{% translate "My quizs" %} <small class="text-muted">{{ user.quiz_count }}</small></h5>
                    <a class="btn btn-primary" href="{% url 'profile:quizs_view' %}">{% translate "View" %}</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{% translate "My questions" %} <small class="text-muted">{{ user.question_count }}</small></h5>
                    <a class="btn btn-primary" href="{% url 'profile:questions_view' %}">{% translate "View" %}</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{% translate "Comments on my content" %} <small class="text-muted">{{ user.new_comment_count }}</small></h5>
                    <a class="btn btn-primary" href="{% url 'profile:comments_view' %}">{% translate "View" %}</a>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-9">
            <h1>{% translate "My info" %}</h1>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{% translate "My profile" %}</h5>
                    {% if not user.user_card %}
                        <div class="alert alert-info" role="alert">
                            🪪 {% translate "You don't have an author card yet!" %}
                        </div>
                    {% endif %}
                    <a class="btn btn-primary" href="{% url 'profile:info' %}">{% translate "View" %}</a>
                </div>
            </div>
        </div>  
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{% translate "My modification history" %}</h5>
                    <a class="btn btn-primary" href="{% url 'profile:history' %}">{% translate "View" %}</a>
                </div>
            </div>
        </div> 
    </div>

    <br />

    {% if user.question_count > 0 or user.quiz_count > 0 %}
        <div class="row">
            <div class="col-9">
                <h1>{% translate "Some statistics" %}</h1>
            </div>
            {% if user.quiz_count > 0 %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{% translate "My quizs" %}</h5>
                            <ul style="list-style-type:none;padding-left:0">
                                <li>
                                    <small class="text-muted">{% translate "Number of published quizs:" %} <span class="fw-bold">{{ user.quiz_published_count }}</span></small>
                                </li>
                                <li>
                                    <small class="text-muted">{% translate "Number of answers:" %} <span class="fw-bold">{{ user.quiz_answer_count }}</span></small>
                                </li>
                                <li>
                                    <small class="text-muted">{% translate "Successfully answered:" %} <span class="fw-bold">{{ user.quiz_answer_success_count_ratio }} %</span></small>
                                </li>
                                <li>
                                    <small class="text-muted">{% translate "Total likes count:" %} <span class="fw-bold">{{ user.quiz_like_count }}</span></small>
                                </li>
                                <li>
                                    <small class="text-muted">{% translate "Total dislikes count:" %} <span class="fw-bold">{{ user.quiz_dislike_count }}</span></small>
                                </li>
                            </ul>
                            <a class="btn btn-primary" href="{% url 'profile:quizs_stats' %}">{% translate "View details" %}</a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if user.question_count > 0 %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{% translate "My questions" %}</h5>
                            <ul style="list-style-type:none;padding-left:0">
                                <li>
                                    <small class="text-muted">{% translate "Number of validated questions:" %} <span class="fw-bold">{{ user.question_validated_count }}</span></small>
                                </li>
                                <li>
                                    <small class="text-muted">{% translate "Number of answers:" %} <span class="fw-bold">{{ user.question_answer_count }}</span></small>
                                </li>
                                <li>
                                    <small class="text-muted">{% translate "Successfully answered:" %} <span class="fw-bold">{{ user.question_answer_success_count_ratio }} %</span></small>
                                </li>
                                <li>
                                    <small class="text-muted">{% translate "Total likes count:" %} <span class="fw-bold">{{ user.question_like_count }}</span></small>
                                </li>
                                <li>
                                    <small class="text-muted">{% translate "Total dislikes count:" %} <span class="fw-bold">{{ user.question_dislike_count }}</span></small>
                                </li>
                            </ul>
                            <a class="btn btn-primary" href="{% url 'profile:questions_stats' %}">{% translate "View details" %}</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock %}
