{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %}{% translate "My space" %}{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <div class="row">
        <div class="col-12 my-auto">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">{% translate "Home" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{% translate "My space" %}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{% translate "My questions" %} <small class="text-muted">{{ user.question_count }}</small></h5>
                    <a class="btn btn-primary" href="{% url 'profile:questions' %}">{% translate "View" %}</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{% translate "My quizs" %} <small class="text-muted">{{ user.quiz_count }}</small></h5>
                    <a class="btn btn-primary" href="{% url 'profile:quizs' %}">{% translate "View" %}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{% translate "My modification history" %}</h5>
                    <a class="btn btn-primary" href="{% url 'profile:history' %}">{% translate "View" %}</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{% translate "My profile" %}</h5>
                    {% if not user.user_card %}
                        <div class="alert alert-info" role="alert">
                            🪪 {% translate "You don't have an author card yet!" %}
                        </div>
                    {% endif %}
                    <a class="btn btn-primary" href="{% url 'profile:info' %}">{% translate "View" %}</a>
                </div>
            </div>
        </div>   
    </div>
    {% if user.question_count > 0 or user.quiz_count > 0 %}
    <div class="row mb-3">
        <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-2">
                    <h5 class="card-title">{% translate "My stats" %}</h5>
                    <a class="btn btn-primary" href="{% url 'profile:stats' %}">{% translate "View details" %}</a>
                  </div>
                  {% if user.quiz_count > 0 %}
                  <div class="col-5">
                    <ul class="list-group">
                        <small class="fw-bold">{% translate "My quizs: " %}</small>
                        <small class="text-muted font-weight-normal">{% translate "Number of time played: " %} <span class="fw-bold">{{ user.quizs_answer_count }}</span></small>
                        <small class="text-muted font-weight-normal">{% translate "Successfully answered: " %} <span class="fw-bold">{{ user.quizs_answer_success_count_ratio }} %</span></small>
                        <small class="text-muted font-weight-normal">{% translate "Total likes count: " %} <span class="fw-bold">{{ user.quizs_like_count }}</span></small>
                        <small class="text-muted font-weight-normal">{% translate "Total dislikes count: " %} <span class="fw-bold">{{ user.quizs_dislike_count }}</span></small>            
                    </ul>
                  </div>
                  {% endif %}
                  {% if user.question_count > 0 %}                  
                  <div class="col-5">
                        <ul class="list-group">
                            <small class="fw-bold">{% translate "My questions: " %}</small>
                            <small class="text-muted font-weight-normal">{% translate "Number of time played: " %} <span class="fw-bold">{{ user.questions_answer_count }}</span></small>
                            <small class="text-muted font-weight-normal">{% translate "Successfully answered: " %} <span class="fw-bold">{{ user.questions_answer_success_count_ratio }} %</span></small>
                            <small class="text-muted font-weight-normal">{% translate "Total likes count: " %} <span class="fw-bold">{{ user.questions_like_count }}</span></small>
                            <small class="text-muted font-weight-normal">{% translate "Total dislikes count: " %} <span class="fw-bold">{{ user.questions_dislike_count }}</span></small>            
                        </ul>
                  </div>
                {% endif %}

            </div>
              </div>
            </div>
          </div>  
    </div>
    {% endif %}
</div>
{% endblock %}
