{% extends "layouts/base.html" %}
{% load render_table from django_tables2 %}
{% load i18n %}

{% block title %}{% translate "My stats" %}{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <div class="row">
        <div class="col-12 my-auto">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">{% translate "Home" %}</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'profile:home' %}">{% translate "My space" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{% translate "My stats" %}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-9">
            <h1>{% translate "My stats overview" %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="table-container">
                <table class="table-responsive table-striped table-bordered border-primary font-size-small">
                    <thead>
                        <tr>
                            <th>{% translate "Field" %}</th>
                            <th>{% translate "Value" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{% translate "Quizs played" %}</td>
                            <td>{{ user.first_name }}</td>
                        </tr>
                        <tr>
                            <td>{% translate "Players feedback" %}</td>
                            <td>{{ user.last_name }}</td>
                        </tr>
                        <tr>
                            <td>{% translate "Email address" %}</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <td>{% translate "Roles" %}</td>
                            <td>
                                {% for role in user.roles %}
                                    <span class="badge bg-primary">{% array_choices_item_display user 'roles' role %}</span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>{% translate "Account creation date" %}</td>
                            <td>{{ user.created }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
