{% extends "tags/detail_base.html" %}
{% load custom_filters %}

{% block tag_detail_content %}
<div class="row">
    <div class="col-12">
        <div class="table-container">
            <table class="table-responsive table-striped table-bordered border-primary font-size-small">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Question</th>
                        <th>Category</th>
                        <th>Tags</th>
                    </tr>
                </thead>
                <tbody>
                    {% for question in questions %}
                        <tr>
                            <td><a href="{% url 'questions:detail_view' question.id %}">{{ question.id }}</a></td>
                            <td>{{ question.text }}</td>
                            <td>
                                <a href="{% url 'categories:detail_view' question.category.id %}"><span class="badge bg-primary">{{ question.category }}</span></a>
                            </td>
                            <td>
                                {% for tag in question.tags.all %}
                                    <a href="{% url 'tags:detail_view' tag.id %}"><span class="badge bg-primary">{{ tag }}</span></a>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
