{% extends "quizs/detail_base.html" %}
{% load i18n custom_filters get_verbose_name %}

{% block quiz_detail_content %}
<div class="row">
    <div class="col-12">
        <div class="table-container">
            <table class="table-responsive table-striped table-bordered border-primary font-size-small">
                <thead>
                    <tr>
                        <th>{% translate "Field" %}</th>
                        <th>{% translate "Value" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for field in quiz_dict %}
                        <tr>
                            <td class="fw-bold">{% get_verbose_name quiz field %}</td>
                            {% if field in quiz.QUIZ_CHOICE_FIELDS or field in quiz.QUIZ_FK_FIELDS %}
                                {% if field == "category" %}
                                    <td>
                                        {% include "categories/_badge_item.html" with category=quiz.category %}
                                    </td>
                                {% else %}
                                    <td>
                                        {% include "includes/_badge_item.html" with value=quiz_dict|get_obj_attr:field %}
                                    </td>
                                {% endif %}
                            {% elif field in quiz.QUIZ_M2M_FIELDS %}
                                {% if field == "tags" %}
                                    <td>
                                        {% include "tags/_badge_list.html" with tag_list=quiz.tags.all %}
                                    </td>
                                {% else %}
                                    <td>
                                        {% for value in quiz_dict|get_obj_attr:field %}
                                            <span class="badge bg-primary">{{ value }}</span>
                                        {% endfor %}
                                    </td>
                                {% endif %}
                            {% elif field in quiz.QUIZ_BOOLEAN_FIELDS %}
                                <td>{% if quiz_dict|get_obj_attr:field %}✅{% else %}❌{% endif %}</td>
                            {% elif field in quiz.QUIZ_URL_FIELDS %}
                                <td><a href="{{ quiz_dict|get_obj_attr:field }}" target="_blank" rel="noopener">{{ quiz_dict|get_obj_attr:field }}</a></td>
                            {% elif field in quiz.QUIZ_IMAGE_URL_FIELDS %}
                                <td><a href="{{ quiz_dict|get_obj_attr:field }}" target="_blank" rel="noopener"><img src="{{ quiz_dict|get_obj_attr:field }}" title="{{ quiz_dict|get_obj_attr:field }}" height="100" /></a></td>
                            {% else %}
                                <td>{{ quiz_dict|get_obj_attr:field|default:"" }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
