{% extends "quizs/detail_base.html" %}
{% load static django_bootstrap5 %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'vendor/dropzone-5.9.3/dropzone.min.css' %}" />
{% endblock %}

{% block quiz_detail_content %}
<div class="row">
    <div class="col-12">
        {% if user_can_edit_quiz %}
            <form id="quiz_edit_form" method="POST" action="">
                {% csrf_token %}

                <div class="row">
                    <div class="col-md-8">
                        {% bootstrap_form form alert_error_type="all" %}
                    </div>
                    <div class="col-md-4 d-none d-md-block">
                        <div class="alert alert-primary">L'ajout d'une image se fait à la fin du formulaire 👇</div>
                    </div>
                </div>

                <hr />

                <!-- image_background_url upload form -->
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            {# {{ form.image_background_url.as_hidden }} #}
                            <label class="form-label" for="image_form" class="js-display-if-javascript-enabled">{{ form.image_background_url.label }}</label>
                            {% include "includes/_s3_upload_form.html" with dropzone_form_id="image_form" %}
                        </div>
                        <small>Image trop grosse ? outil pour réduire sa taille : <a href="https://tinypng.com" target="_blank">tinypng.com</a></small>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">Image actuelle</label>
                            {% if form.image_background_url.value %}
                                <div>
                                    <img class="img-fluid" src="{{ form.image_background_url.value }}" />
                                </div>
                            {% else %}
                                <span class="form-text text-muted">Aucun</span>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col">
                        {% bootstrap_button button_type="submit" button_class="btn-primary" content="Sauvegarder" %}
                        <a href="{% url 'quizs:detail_view' quiz.id %}" class="btn btn-secondary">Annuler</a>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-danger" disabled>Supprimer</button>
                    </div>
                </div>
            </form>
        {% else %}
            <div class="alert alert-warning" role="alert">
                {% if quiz.is_private %}
                    Vous n'avez pas les droits nécessaires <small>(seul l'auteur peut modifier un quiz privé)</small>
                {% else %}
                    Vous n'avez pas les droits nécessaires <small>(seul l'auteur ou un administrateur peut modifier un quiz publique)</small>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
{{ form.media.js }}
<script type="text/javascript" src="{% static 'vendor/dropzone-5.9.3/dropzone.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/s3_upload.js' %}"></script>
{{ s3_form_values|json_script:"s3-form-values-quiz-image" }}
{{ s3_upload_config|json_script:"s3-upload-config-quiz-image" }}
<script type="text/javascript">
// init dropzone
s3UploadInit({
    dropzoneSelector: "#image_form",
    callbackLocationSelector: "#{{ form.image_background_url.id_for_label }}",
    s3FormValuesId: "s3-form-values-quiz-image",
    s3UploadConfigId: "s3-upload-config-quiz-image",
});
</script>
{% endblock %}
