{% extends "quizs/detail_base.html" %}
{% load render_table from django_tables2 %}
{% load i18n django_bootstrap5 %}

{% block extra_css %}
{{ quiz_question_formset.media.css }}
{% endblock %}

{% block quiz_detail_content %}
<div class="row">
    <div class="col-12">
        {% if quiz_questions.count %}
            {% render_table table %}
        {% else %}
            <div class="alert alert-warning" role="status">0 {% translate "Questions" %}</div>
        {% endif %}
    </div>
</div>

<br />

{% if user_can_edit %}
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Modifier les questions
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-quizQuestionledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form id="quiz_question_edit_form" method="POST" action="">
                        {% csrf_token %}

                        {% bootstrap_formset quiz_question_formset layout="horizontal" %}

                        <div id="quizquestion-formset-empty-form" class="d-none">{% bootstrap_form quiz_question_formset.empty_form layout="horizontal" %}</div>

                        <div class="row">
                            <div class="col">
                                <button type="button" id="quizquestion-formset-add-more" class="btn btn-outline-primary">Ajouter une question</button>
                            </div>
                        </div>

                        <br />

                        <div class="row">
                            <div class="col">
                                {% bootstrap_button button_type="submit" button_class="btn-primary" content=_("Save") %}
                                {% bootstrap_button button_type="reset" button_class="btn-secondary" content=_("Cancel") %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block extra_js %}
{{ quiz_question_formset.media.js }}
<script type="text/javascript">
/**
 * Add formset items dynamically
 */
const prefixRegex = new RegExp('__prefix__', 'g');

// quizQuestion formset
const quizQuestionIdString = 'id_quizquestion_set';
const quizQuestionFormsetString = 'quizquestion-formset';
const totalQuizQuestionFormset = document.getElementById(`${quizQuestionIdString}-TOTAL_FORMS`);
const quizQuestionFormsetEmptyForm = document.getElementById(`${quizQuestionFormsetString}-empty-form`);
const quizQuestionFormsetAddMoreButton = document.getElementById(`${quizQuestionFormsetString}-add-more`);

quizQuestionFormsetAddMoreButton.addEventListener('click', function(e) {
    if (e) { e.preventDefault(); }
    // add new form
    const copyQuizQuestionFormsetEmptyForm = quizQuestionFormsetEmptyForm.cloneNode(true);
    copyQuizQuestionFormsetEmptyForm.innerHTML = copyQuizQuestionFormsetEmptyForm.innerHTML.replace(prefixRegex, totalQuizQuestionFormset.value);
    Array.from(copyQuizQuestionFormsetEmptyForm.childNodes).forEach(node => {
        quizQuestionFormsetEmptyForm.parentNode.insertBefore(node, quizQuestionFormsetEmptyForm);
    });
    // update total forms count
    totalQuizQuestionFormset.setAttribute('value', parseInt(totalQuizQuestionFormset.getAttribute('value'), 10) + 1);
});
</script>
{% endblock %}
