{% extends "layouts/base.html" %}
{% load django_bootstrap5 %}

{% block title %}Ajouter - Tags{{ block.super }}{% endblock %}

{% block extra_css %}
{{ form.media.css }}
{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <div class="row">
        <div class="col-12 my-auto">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'tags:list' %}">Tags</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Ajouter</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <form method="POST" action="">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-8">
                {% bootstrap_form form alert_error_type="all" %}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% bootstrap_button button_type="submit" button_class="btn-primary" content="Ajouter" %}
                {# {% bootstrap_button button_type="reset" button_class="btn-secondary" content="Annuler" %} #}
                <a class="btn btn-secondary" href="{% url 'tags:list' %}">Annuler</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_js %}
{{ form.media.js }}
{% endblock %}
