{% extends "tags/detail_base.html" %}
{% load i18n custom_filters %}

{% block tag_detail_content %}
<div class="row">
    <div class="col-12">
        <div class="table-container">
            <table class="table-responsive table-striped table-bordered border-primary font-size-small">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>{% translate "Question" %}</th>
                        <th>{% translate "Category" %}</th>
                        <th>{% translate "Tags" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for question in questions %}
                        <tr>
                            <td>
                                <a href="{% url 'questions:detail_view' question.id %}">{{ question.id }}</a>
                            </td>
                            <td>{{ question.text }}</td>
                            <td>
                                {% include "categories/_badge_item.html" with category=question.category %}
                            </td>
                            <td>
                                {% include "tags/_badge_list.html" with tag_list=question.tags.all %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
