{% extends "tags/detail_base.html" %}
{% load django_bootstrap5 %}

{% block tag_detail_content %}
<div class="row">
    <div class="col-12">
        <form method="POST" action="">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-8">
                    {% bootstrap_form form alert_error_type="all" %}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {% bootstrap_button button_type="submit" button_class="btn-primary" content="Sauvegarder" %}
                    {# {% bootstrap_button button_type="reset" button_class="btn-secondary" content="Annuler" %} #}
                    <a class="btn btn-secondary" href="{% url 'tags:detail_view' tag.id %}">Annuler</a>
                </div>
                <div class="col-auto">
                    <button class="btn btn-danger" disabled>Supprimer</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{{ form.media.js }}
{% endblock %}
