{% extends "tags/detail_base.html" %}
{% load custom_filters get_verbose_name %}

{% block tag_detail_content %}
<div class="row">
    <div class="col-12">
        <div class="table-container">
            <table class="table-responsive table-striped table-bordered border-primary font-size-small">
                <thead>
                    <tr>
                        <th>Champ</th>
                        <th>Valeur</th>
                    </tr>
                </thead>
                <tbody>
                    {% for field in tag_dict %}
                        <tr>
                            <td class="fw-bold">{% get_verbose_name tag field %}</td>
                            <td>{{ tag_dict|get_obj_attr:field|default:"" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
