{% extends "tags/detail_base.html" %}
{% load custom_filters %}

{% block tag_detail_content %}
<div class="row">
    <div class="col-12">
        <div class="table-container">
            <table class="table-responsive table-striped table-bordered border-primary font-size-small">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>{% translate "Quiz" %}</th>
                        <th>{% translate "Tags" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for quiz in quizs %}
                        <tr>
                            <td>
                                <a href="{% url 'quizs:detail_view' quiz.id %}">{{ quiz.id }}</a>
                            </td>
                            <td>{{ quiz.name }}</td>
                            <td>
                                {% include "tags/_badge_list.html" with tag_list=quiz.tags.all %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
