{% extends "layouts/base.html" %}
{% load render_table from django_tables2 %}
{% load i18n django_bootstrap5 %}

{% block title %}Tags{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <div class="row">
        <div class="col-12 my-auto">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">{% translate "Home" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{% translate "Tags" %}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-9">
            <h1>Tous les tags <span class="fs-3 text-muted">{{ tags.count }}</span></h1>
        </div>
        <div class="col-3 text-end my-auto">
            <button type="button" class="btn {% if search_filters %}btn-warning{% else %}btn-secondary{% endif %} btn-sm btn-ico" data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
                <span>Filtres&nbsp;</span>
                <span id="collapse-down-ico">⏷</span>
                <span id="collapse-up-ico">⏶</span>
            </button>
            <a class="btn btn-success btn-sm" href="{% url 'tags:create' %}">{% translate "Add" %}</a>
        </div>
    </div>
    <!-- Filters: list (hidden) -->
    <!-- Filters: form -->
    <form action="" method="get" id="collapseFilters" class="mb-3 collapse">
        {% bootstrap_form filter.form layout="horizontal" %}
        <div class="col-12 text-end">
            {% bootstrap_button button_type="submit" content="Filtrer" %}
        </div>
    </form>
    <!-- Table -->
    <div class="row">
        <div class="col-12">
            {% render_table table %}
        </div>
    </div>
</div>
{% endblock %}
