{% extends "layouts/base.html" %}

{% block title %}Accueil{{ block.super }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8">
            <h1><strong>Administration</strong></h1>

            {% if user.is_authenticated %}
                <div class="row">
                    <div class="col-12">
                        <p>Bonjour {{ user.first_name }} ! {{ user.email }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="{% url 'auth:logout' %}" class="btn btn-primary btn-block">
                            <span>Se déconnecter</span>
                        </a>
                    </div>
                </div>
            {% else %}
                <a href="{% url 'auth:login' %}" class="btn btn-primary btn-block">
                    <span>Se connecter</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
