# Editors
.vscode

# Mac/OSX
.DS_Store

# Windows
Thumbs.db

# Python
**/__pycache__/**

# Django
db.sqlite3
staticfiles

# Environments
.env

# Tests
.coverage
htmlcov

# Local stuff
local_scripts
local_data
