[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
django = "4.1.2"
asgiref = "*"
certifi = "*"
dj-database-url = "*"
django-anymail = {extras = ["sendinblue"], version = "*"}
django-autocomplete-light = "*"
django-bootstrap5 = "*"
django-ckeditor = "*"
django-cors-headers = "*"
django-extensions = "*"
django-fieldsets-with-inlines = "*"
django-filter = "*"
django-import-export = "*"
django-simple-history = "*"
django-tables2 = "*"
djangorestframework = "*"
django-solo = "*"
drf-spectacular = "*"
gunicorn = "*"
ipython = "*"
notion = {git = "https://github.com/raphodn/notion-py.git", ref = "511b93ed621625600795b7c4baa7e745d8ecfc2f"}
pandas = "*"
pillow = "*"
psycopg2-binary = "*"
PyGithub = "*"
python-dotenv = "*"
pytz = "*"
PyYAML = "*"
sentry-sdk = "*"
sqlparse = "*"
whitenoise = "*"

[dev-packages]
black = "*"
coverage = "*"
django-debug-toolbar = "*"
factory-boy = "*"
flake8 = "*"
freezegun = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
