{% extends "layouts/base.html" %}
{% load custom_filters %}

{% block title %}Contribution #{{ contribution.id }}{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <div class="row">
        <div class="col-12 my-auto">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'contributions:list' %}">Contributions</a></li>
                    <li class="breadcrumb-item active" aria-current="page" title="{{ contribution.text }}">{{ contribution.text|truncatechars:50 }}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-3">
        <div class="col-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link {% if 'view' in request.path %}active fw-bold{% endif %}" href="{% url 'contributions:detail_view' contribution.id %}">Détails</a>
                </li>
            </ul>
        </div>
    </div>

    {% block contribution_detail_content %}{% endblock %}
</div>
{% endblock %}
