{% extends "contributions/detail_base.html" %}
{% load i18n django_bootstrap5 %}

{% block contribution_detail_content %}
<div class="row">
    <div class="col-12">
        <form id="contribution_edit_form" method="POST" action="">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-8">
                    {% bootstrap_form form alert_error_type="all" %}
                </div>
                <!-- Sidebar -->
                <div class="col-md-4 d-none d-md-block">
                    {% if not contribution.processed %}
                        <div class="alert alert-warning" role="alert">
                            ✍️ Cette contribution n'a pas encore été <strong>traitée</strong>.
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {% bootstrap_button button_type="submit" button_class="btn-primary" content="Sauvegarder" %}
                    {# {% bootstrap_button button_type="reset" button_class="btn-secondary" content="Annuler" %} #}
                    <a class="btn btn-secondary" href="{% url 'glossary:detail_view' contribution.id %}">Annuler</a>
                </div>
                <div class="col-auto">
                    <button class="btn btn-danger" disabled>Supprimer</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{{ form.media.js }}
{% endblock %}
