{% extends "contributions/detail_base.html" %}
{% load i18n django_bootstrap5 %}

{% block contribution_detail_content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        Message de <strong>{{ contribution.get_author }}</strong>
                    </div>
                    <div class="col text-end">
                        <i title="{{ contribution.created }}">{{ contribution.created|timesince }}</i>
                    </div>
                </div>
            </div>
            <div class="card-body">
                {{ contribution.text|linebreaks }}
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-12">
        {% for reply in contribution.replies.all %}
            <div class="card {% if reply.type == 'REPLY' %}border-success{% else %}border-warning{% endif %}">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            {{ reply.get_reply_type }} de <strong>{{ reply.get_author }}</strong>
                        </div>
                        <div class="col text-end">
                            <i title="{{ reply.created }}">{{ reply.created|timesince }}</i>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {{ reply.text|linebreaks }}
                </div>
            </div>
            <br />
        {% endfor %}

        <div class="card">
            <div class="card-header">
                <strong>{% translate "Reply to the initial contribution, or add a comment" %}</strong>
            </div>
            <div class="card-body">
                <div class="alert alert-warning" role="status">
                    {% blocktrans %}<strong>A comment ?</strong> It would help keeping track of how the contribution is processed {% endblocktrans %}.<br />
                    {% blocktrans %}<strong>An answer ?</strong> Only one answer possible. For now this content is only visible to contributors,
                    but we can eventually publish contributions with their respective answers (to display more information under a question){% endblocktrans %}.
                </div>
                <form id="contribution_reply_create_form" method="POST" action="">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-8">
                            {% bootstrap_form form alert_error_type="all" %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            {% bootstrap_button button_type="submit" button_class="btn-primary" content=_("Add") %}
                            {# {% bootstrap_button button_type="reset" button_class="btn-secondary" content=_("Cancel") %} #}
                            <a class="btn btn-secondary" href="{% url 'contributions:detail_view' contribution.id %}">{% translate "Cancel" %}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{{ form.media.js }}
{% if contribution.has_replies_reply %}
<script type="text/javascript">
    console.log(document.getElementById("id_type_1"))
    document.getElementById("id_type_1").disabled = true;
</script>
{% endif %}
{% endblock %}
