{% extends "contributions/detail_base.html" %}
{% load i18n django_bootstrap5 %}

{% block comment_detail_content %}
<div class="row">
    <div class="col-12">
        <form id="comment_edit_form" method="POST" action="">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-8">
                    {% bootstrap_form form alert_error_type="all" %}
                </div>
                <!-- Sidebar -->
                <div class="col-md-4 order-first order-md-last">
                    {% if comment.question %}
                        <div class="alert alert-primary" role="alert">
                            {% blocktrans %}Comment linked to the question:{% endblocktrans %} <a href="{% url 'questions:detail_view' comment.question.id %}" target="_blank">{{ comment.question }}</a>
                        </div>
                    {% endif %}
                    {% if comment.quiz %}
                        <div class="alert alert-primary" role="alert">
                            {% blocktrans %}Comment linked to the quiz:{% endblocktrans %} <a href="{% url 'quizs:detail_view' comment.quiz.id %}" target="_blank">{{ comment.quiz }}</a>
                        </div>
                    {% endif %}
                    {% if comment.parent %}
                        <div class="alert alert-warning" role="alert">
                            {% blocktrans %}This comment is a reply to:{% endblocktrans %} <a href="{% url 'quizs:detail_view' comment.parent.id %}" target="_blank" title="{{ comment.parent.text }}">{{ comment.parent }}</a>
                        </div>
                    {% endif %}
                    {% if not comment.processed %}
                        <div class="alert alert-warning" role="alert">
                            ✍️ {% blocktrans %}This comment has not yet been <strong>processed</strong>{% endblocktrans %}.
                        </div>
                    {% endif %}
                    {% if comment.processed %}
                        <div class="alert alert-success" role="alert">
                            ✅ {% translate "Processed" %}
                        </div>
                    {% endif %}
                    {% if comment.publish %}
                        <div class="alert alert-success" role="alert">
                            🌐 {% translate "Published" %}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {% bootstrap_button button_type="submit" button_class="btn-primary" content=_("Save") %}
                    {# {% bootstrap_button button_type="reset" button_class="btn-secondary" content=_("Cancel") %} #}
                    <a class="btn btn-secondary" href="{% url 'glossary:detail_view' comment.id %}">{% translate "Cancel" %}</a>
                </div>
                <div class="col-auto">
                    <button class="btn btn-danger" disabled>{% translate "Delete" %}</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{{ form.media.js }}
{% endblock %}
