{% extends "contributions/detail_base.html" %}
{% load i18n django_bootstrap5 %}

{% block comment_detail_content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        {% blocktrans with comment_author=comment.get_author %}Message by <strong>{{ comment_author }}</strong>{% endblocktrans %}
                        <span class="badge bg-primary">{{ comment.get_type_display }}</span>
                    </div>
                    <div class="col text-end">
                        <i title="{{ comment.created }}">{{ comment.created|timesince }}</i>
                    </div>
                </div>
            </div>
            <div class="card-body">
                {{ comment.text|linebreaks }}
            </div>
        </div>
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-12">
        {% for reply in comment.replies.all %}
            <div class="card {% if reply.type == 'REPLY' %}border-success{% else %}border-warning{% endif %}">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            {% if reply.type == "COMMENT_CONTRIBUTOR" %}
                                {% blocktrans with comment_author=reply.get_author %}Note by <strong>{{ comment_author }}</strong>{% endblocktrans %}
                            {% elif reply.type == "REPLY" %}
                                {% blocktrans with comment_author=reply.get_author %}Reply by <strong>{{ comment_author }}</strong>{% endblocktrans %}
                            {% endif %}
                        </div>
                        <div class="col text-end">
                            <i title="{{ reply.created }}">{{ reply.created|timesince }}</i>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {{ reply.text|linebreaks }}
                </div>
            </div>
            <br />
        {% endfor %}

        <div class="card">
            <div class="card-header">
                <strong>{% translate "Reply to the initial comment, or add a note" %}</strong>
            </div>
            <div class="card-body">
                <div class="alert alert-warning" role="status">
                    {% blocktrans %}<strong>A note?</strong> It would help keep track of how the initial comment is processed{% endblocktrans %}.
                    <br />
                    {% blocktrans %}<strong>A reply?</strong> Only one reply possible. For now this content is only visible to contributors, but we will eventually publish comments with their respective replies (to display more information under a question){% endblocktrans %}.
                </div>
                <form id="comment_reply_create_form" method="POST" action="">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-8">
                            {% bootstrap_form form alert_error_type="all" %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            {% bootstrap_button button_type="submit" button_class="btn-primary" content=_("Add") %}
                            {# {% bootstrap_button button_type="reset" button_class="btn-secondary" content=_("Cancel") %} #}
                            <a class="btn btn-secondary" href="{% url 'contributions:detail_view' comment.id %}">{% translate "Cancel" %}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{{ form.media.js }}
{% if comment.has_replies_reply %}
<script type="text/javascript">
    console.log(document.getElementById("id_type_1"))
    document.getElementById("id_type_1").disabled = true;
</script>
{% endif %}
{% endblock %}
