{% extends "layouts/base.html" %}
{% load i18n custom_filters %}

{% block title %}{% translate "Comment" %} #{{ comment.id }}{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <div class="row">
        <div class="col-12 my-auto">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">{% translate "Home" %}</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'contributions:list' %}">{% translate "Comments" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page" title="{{ comment.text }}">{{ comment.text|truncatechars:50 }}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% if comment.parent %}
        <div class="alert alert-warning" role="status">
            {% blocktrans %}This comment is a <strong>reply</strong>{% endblocktrans %}. <a href="{% url 'contributions:detail_view' comment.parent.id %}">{% translate "View the initial comment" %}</a>.
        </div>
    {% endif %}
    <div class="row mb-3">
        <div class="col-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link {% if 'view' in request.path %}active fw-bold{% endif %}" href="{% url 'contributions:detail_view' comment.id %}">
                        {% translate "Details" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if comment.parent %}disabled{% endif %} {% if 'edit' in request.path %}active fw-bold{% endif %}" href="{% url 'contributions:detail_edit' comment.id %}">
                        {% translate "Edit" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if comment.parent %}disabled{% endif %} {% if 'reply' in request.path %}active fw-bold{% endif %}" href="{% url 'contributions:detail_reply_create' comment.id %}">
                        {% if not comment.replies_notes.count and not comment.replies_reply.count %}
                            {% translate "Respond" %}
                        {% else %}
                            {% translate "Notes" %} ({{ comment.replies_notes.count }})
                            {% if comment.replies_reply.count %}
                                / {% translate "Reply" %} ✅
                            {% endif %}
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'history' in request.path %}active fw-bold{% endif %}" href="{% url 'contributions:detail_history' comment.id %}">
                        {% translate "History" %}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    {% block comment_detail_content %}{% endblock %}
</div>
{% endblock %}
