{% extends "layouts/base.html" %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}

{% block title %}Liste des administrateurs{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <div class="row">
        <div class="col-12 my-auto">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'pages:help' %}">Aide</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Liste des administrateurs</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-9">
            <h1>Liste des administrateurs <span class="fs-3 text-muted">{{ administrators.count }}</span></h1>
        </div>
    </div>
    <!-- Table -->
    <div class="row overflow-scroll">
        <div class="col-12">
            {% render_table table %}
        </div>
    </div>
</div>
{% endblock %}
