{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %}Aide{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <div class="row">
        <div class="col-12 my-auto">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Aide</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>{% translate "Do you need help?" %}</h1>
            <br />

            <h4 id="tuto">{% translate "How to use the administrator interface" %}</h4>
            <ul>
                <li><a href="{{ NOTION_HELP_PUBLIC_URL }}" target="_blank">{% translate "Tutorial" %} / FAQ</a></li>
            </ul>

            <br />

            <h4 id="contact">{% translate "Contact an administrator" %}</h4>
            <ul>
                <li><a href="{% url 'pages:help_administrator_list' %}">{% translate "Administrator list" %}</a></li>
                <li>via <s>Slack</s> Discord : <a href="{{ DISCORD_INVITATION_LINK }}">{% translate "Invitation link" %}</a></li>
                <li><a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a></li>
            </ul>

            <br />

            <h4>{% translate "Do you have another question? You want to report a bug, an improvement?" %}</h4>
            <p>{% translate "Please post your feedback on Discord :)" %}</p>
        </div>
    </div>
</div>
{% endblock %}
