{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %}{% translate "Home" %}{{ block.super }}{% endblock %}

{% block content %}
<div class="container">
    <br />
    {% if not user.is_authenticated %}
        <p>Vous devez être connecté pour accéder à cet outil.</p>
    {% else %}
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <h4>{% blocktrans with user.first_name as first_name %}Hello {{ first_name }}!{% endblocktrans %}</h4>
                        <p>{% blocktrans %}Welcome to the <strong>contributor interface</strong> of the Anthropocene Quiz.{% endblocktrans %}</p>
                        <p>{% translate "Here you can:" %}</p>
                        <ul>
                            <li>{% translate "Create questions & quizs (public or private)" %}</li>
                            <li>{% translate "Improve public questions (with help from user feedback for example)" %}</li>
                            <li>{% translate "View answer stats" %}</li>
                            <li>{% translate "Update the glossary" %}</li>
                            <li><small>{% translate "and many more functionalities :)" %}</small></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                {% include "activity/_recent_actions_home_card.html" with events=last_10_events %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
