{% extends "layouts/base.html" %}

{% block title %}Accueil{{ block.super }}{% endblock %}

{% block content %}
<div class="container">
    <br />
    <div class="row">
        <div class="col-12 col-lg-8">
            {% if not user.is_authenticated %}
                <p>Vous devez être connecté pour accéder à cet outil.</p>
            {% else %}
                <div class="row">
                    <div class="col-12">
                        <p>Bonjour {{ user.first_name }} !</p>
                        <p>Bienvenue sur <strong>l'interface contributeur</strong> du Quiz de l'Anthropocène.</p>
                        <p>Ici tu pourras :</p>
                        <ul>
                            <li>Créer des questions & des quizs (publiques ou privés)</li>
                            <li>Améliorer les questions publiques (grâce aux retours utilisateurs par exemple)</li>
                            <li>Voir les stats de réponse</li>
                            <li>Mettre à jour le glossaire</li>
                            <li><small>et plein de futurs fonctionnalités :)</small></li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
