{% load static django_bootstrap5 %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %} - Quiz de l'Anthropocène{% endblock %}</title>
        {% block meta_description %}
        <meta name="description" content="Site d'administration du Quiz de l'Anthropocène">
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="theme-color" content="#ffffff">

        <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/ico">

        {% bootstrap_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-multiselect-1.1.1/bootstrap-multiselect.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/extra.css' %}" />

        {% block extra_css %}{% endblock %}

        {% block extra_head %}{% endblock %}
    </head>

    <body id="top">
        <noscript></noscript>

        <nav role="navigation" aria-label="Accès rapide" tabindex="1" class="sr-only"></nav>

        {% block header %}
            {% include "includes/_header.html" %}
        {% endblock %}

        <main id="main" role="main">
            {% block breadcrumbs %}{% endblock %}

            {% block messages %}
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        {% bootstrap_messages %}
                    </div>
                </div>
            </div>
            {% endblock %}

            {% block content %}{% endblock %}
        </main>

        {% block footer %}
            {% include "includes/_footer.html" %}
        {% endblock %}

        {% block modals %}{% endblock %}

        {% block script %}
        <script type="text/javascript" src="{% static 'vendor/jquery-3.6.0/jquery-3.6.0.min.js' %}"></script>
        {% bootstrap_javascript %}
        <script type="text/javascript" src="{% static 'vendor/bootstrap-multiselect-1.1.1/bootstrap-multiselect.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/tag_multiselect_field.js' %}"></script>
        {% endblock %}

        {% block extra_js %}{% endblock %}
    </body>
</html>
