.font-size-small {
    font-size: small;
}

[aria-expanded="false"] #collapse-up-ico {
    display: none;
}
[aria-expanded="false"] #collapse-down-ico {
    display: inline;
}
[aria-expanded="true"] #collapse-up-ico {
    display: inline;
}
[aria-expanded="true"] #collapse-down-ico {
    display: none;
}


/* Breadcrumb */

ol.breadcrumb {
    margin-top: 1rem;
}


/* Table */

/* use width of the page */
div.table-container > table {
    min-width: 50% !important;
}

/* header style */
div.table-container > table > thead > tr > th {
    min-width: 30px;
    background-color: #0d6efd;
}
div.table-container > table > thead > tr > th,
div.table-container > table > thead > tr > th > a {
    color: #ffffff;
    text-decoration: none;
}

/* header fixed */
div.table-container > table.header-fixed > thead > tr > th {
    background-color: #0d6efd;
    position: sticky;
    top: 0;
}

div.table-container > nav > ul {
    margin-top: 1rem;
}


/* Table filters */

form.collapse {
    background-color: #FBFBFB;
    padding: 1rem;
}


/* Forms */

label.form-label {
    font-weight: bold;
}

.form-group-required > label::after,
.form-group-required > div > label::after,
label.required::after {
    content: " *";
    font-weight: 900;
    font-size: 1rem;
}


/* bootstrap-multiselect */

span.multiselect-selected-text {
    float: left;
}
