{% extends "profile/base.html" %}

{% block profile_content %}
<div class="row">
    <div class="col-12">
        <div class="table-container">
            <table class="table-responsive table-striped table-bordered border-primary font-size-small">
                <thead>
                    <tr>
                        <th>Champ</th>
                        <th>Valeur</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Prénom</td>
                        <td>{{ user.first_name }}</td>
                    </tr>
                    <tr>
                        <td>Nom</td>
                        <td>{{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <td>Adresse e-mail</td>
                        <td>{{ user.email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
