{% extends "layouts/base.html" %}
{% load custom_filters %}

{% block title %}Questions{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <div class="row">
        <div class="col-12 my-auto">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'questions:list' %}">Questions</a></li>
                    <li class="breadcrumb-item active" aria-current="page" title="{{ question }}">{{ question|truncatechars:50 }}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mb-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Détail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Modifier</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Commentaires</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Statistiques</a>
                </li>
            </ul>
        </div>
    </div>

    {% block question_detail_content %}{% endblock %}
</div>
{% endblock %}
