{% extends "layouts/base.html" %}
{% load render_table from django_tables2 %}

{% block title %}Questions{{ block.super }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Toutes les questions <span class="fs-3 text-muted">{{ questions.count }}</span></h1>
        </div>
    </div>
    <div class="row overflow-scroll">
        <div class="col-12">
            {% render_table table %}
        </div>
    </div>
</div>
{% endblock %}
