{% extends "layouts/base.html" %}

{% block title %}Demande de réinitialisation du mot de passe envoyée{{ block.super }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8">
            <h1>Demande de réinitialisation du mot de passe envoyée</h1>
            <div>
                <p>
                    Si un compte existe, vous recevrez un e-mail de réinitialisation
                    {% if request.GET.email %}
                        <!-- Give the user a chance to check that there is no typing error. -->
                        à l'adresse email : <span class="text-muted">{{ request.GET.email }}</span>
                    {% endif %}
                </p>
            </div>
            <div>
                <p>Il contient les instructions pour réinitialiser votre mot de passe.</p>
                <p>Si vous le ne recevez pas dans les minutes qui suivent :</p>
                <ul>
                    <li>vérifiez votre courrier indésirable</li>
                    <li>vérifiez qu'il n'y a pas d'erreur dans votre e-mail</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8">
            <p><a href="{% url 'pages:home' %}">Revenir à la page principale</a></p>
        </div>
    </div>
</div>
{% endblock %}
