{% load django_bootstrap5 %}

<div class="modal fade" id="quiz_detail_questions_edit_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog"  aria-modal="true" aria-labelledby="modalTitle">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalTitle">Modifier les questions</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'quizs:detail_questions_edit' quiz.id %}">
                    {% csrf_token %}
        
                    <div class="row">
                        <div class="col-md-8">
                            {% bootstrap_formset quiz_question_formset %}
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col">
                            {% bootstrap_button button_type="submit" button_class="btn-primary" content="Sauvegarder" %}
                            {# {% bootstrap_button button_type="reset" button_class="btn-secondary" content="Annuler" %} #}
                            <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal" aria-label="Fermer">Annuler</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
