{% extends "quizs/detail_base.html" %}

{% block quiz_detail_content %}
<div class="row">
    <div class="col-12">
        <div class="table-container">
            <table class="table-responsive table-striped table-bordered border-primary font-size-small">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Question</th>
                        <th>Ordre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for quiz_question in quiz_questions %}
                        <tr>
                            <td><a href="{% url 'questions:detail_view' quiz_question.question.id %}">{{ quiz_question.question.id }}</a></td>
                            <td>{{ quiz_question.question.text }}</td>
                            <td>{{ quiz_question.order }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<br />
<div class="row">
    <div class="col-12">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#quiz_detail_questions_edit_modal" title="Modifier les questions">
            Modifier
        </button>
    </div>
</div>
{% endblock %}

{% block modals %}
    {% include "quizs/detail_questions_edit_modal.html" %}
{% endblock %}
