{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %}{% translate "Administration" %}{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <div class="row">
        <div class="col-12 my-auto">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">{% translate "Home" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{% translate "Administration" %}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Contributeurs <small class="text-muted">{{ contributor_count }}</small></h5>
                    <a class="btn btn-primary" href="{% url 'admin:contributor_list' %}">{% translate "View" %}</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{% translate "History" %}</h5>
                    <a class="btn btn-primary" href="{% url 'admin:history' %}">{% translate "View" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
