{% extends "layouts/base.html" %}
{% load i18n custom_filters %}

{% block title %}{% translate "Category" %} : {{ category.name }}{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <div class="row">
        <div class="col-12 my-auto">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">{% translate "Home" %}</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'categories:list' %}">{% translate "Categories" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page" title="{{ category }}">{{ category|truncatechars:50 }}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-3">
        <div class="col-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link {% if 'view' in request.path %}active fw-bold{% endif %}" href="{% url 'categories:detail_view' category.id %}">{% translate "Details" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'edit' in request.path %}active fw-bold{% endif %}" href="{% url 'categories:detail_edit' category.id %}">{% translate "Edit" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'questions' in request.path %}active fw-bold{% endif %}" href="{% url 'categories:detail_questions' category.id %}">{% translate "Questions" %} ({{ category.question_count }})</a>
                </li>
            </ul>
        </div>
    </div>

    {% block category_detail_content %}{% endblock %}
</div>
{% endblock %}
