{% load i18n %}

<footer class="py-3 my-4 border-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4 my-auto">
                <p class="mb-0 text-muted">{% translate "Anthropocene Quiz" %}</p>
            </div>
            <div class="col-md-4">
                {% include "includes/_language_form.html" %}
            </div>
            <div class="col-md-4" offset-md-4>
                <ul class="nav">
                    <li class="nav-item">
                        <a href="{{ CONFIGURATION.application_frontend_url }}" target="_blank" class="nav-link px-2 text-muted">{% translate "Website" %}</a>
                    </li>
                    {% if user.is_authenticated and user.has_role_contributor %}
                        <li class="nav-item">
                            <a href="{{ METABASE_GENERAL_DASHBOARD_PUBLIC_URL }}" target="_blank" class="nav-link px-2 text-muted">{% translate "Statistics" %}</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{{ CONFIGURATION.application_open_source_code_url }}" target="_blank" class="nav-link px-2 text-muted">Github</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ CONFIGURATION.application_twitter_url }}" target="_blank" class="nav-link px-2 text-muted">Twitter</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ CONFIGURATION.application_linkedin_url }}" target="_blank" class="nav-link px-2 text-muted">LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
