{% if DEBUG %}
    {% include "includes/_header_notice_env.html" %}
{% endif %}

{% if user.is_authenticated and user.has_role_contributor %}
    {% include "includes/_header_notice_beta.html" %}
{% endif %}

<header>
    <nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <a href="{% url 'pages:home' %}" class="navbar-brand">Quiz de l'Anthropocène</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        {% if user.has_role_contributor %}
                            <li class="nav-item">
                                <a href="{% url 'profile:home' %}" class="nav-link">Mon espace</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'questions:list' %}" class="nav-link">Questions</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'quizs:list' %}" class="nav-link">Quizs</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'contributions:list' %}" class="nav-link">Contributions</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'glossary:list' %}" class="nav-link">Glossaire</a>
                            </li>
                            {% if user.has_role_administrator %}
                                <span style="padding:0.5em">|</span>
                                <li class="nav-item">
                                    <a href="{% url 'admin:home' %}" class="nav-link">Administration</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                    <a href="{% url 'auth:logout' %}">
                        <span>Se déconnecter</span>
                    </a>
                {% else %}
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;"></ul>
                    <a href="{% url 'auth:login' %}" class="btn btn-primary btn-block">
                        <span>Se connecter</span>
                    </a>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
