{% load i18n %}

{% if DEBUG %}
    {% include "includes/_header_notice_env.html" %}
{% endif %}

{% if user.is_authenticated and user.has_role_contributor %}
    {% include "includes/_header_notice_beta.html" %}
{% endif %}

<header>
    <nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'pages:home' %}">{% translate "Anthropocene Quiz" %}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        {% if user.has_role_contributor %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'profile:home' %}">{% translate "My space" %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'questions:list' %}">{% translate "Questions" %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'quizs:list' %}">{% translate "Quizs" %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'contributions:list' %}">{% translate "Contributions" %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'tags:list' %}">{% translate "Tags" %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'glossary:list' %}">{% translate "Glossary" %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'users:home' %}">{% translate "Users" %}</a>
                            </li>
                            {% if user.has_role_administrator %}
                                <span style="padding:0.5em">|</span>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'admin:home' %}">{% translate "Administration" %}</a>
                                </li>
                            {% endif %}
                            <span style="padding:0.5em">|</span>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'pages:help' %}">🛟 {% translate "Help" %}</a>
                            </li>
                        {% endif %}
                    </ul>
                    <a href="{% url 'auth:logout' %}">
                        <span>{% translate "Log out" %}</span>
                    </a>
                {% else %}
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;"></ul>
                    <a class="btn btn-primary btn-block" href="{% url 'auth:login' %}">
                        <span>{% translate "Log in" %}</span>
                    </a>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
