{% load i18n get_language_flag %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

{% if languages|length > 1 %}
    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <select name="language" onchange="this.form.submit()">
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                        {% get_language_flag language %} {{ language.name_translated }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </form>
{% endif %}
