{% load i18n %}

<div class="js-display-if-javascript-enabled">
    <div id="{{ dropzone_form_id }}" class="dropzone border-dashed text-center text-secondary mb-2">
        <div class="dz-message my-1">
            <div class="h5"><i class="ri-upload-2-line ri-2x"></i></div>
            <!-- Issue with refresh on client-reference js-generated form -->
            <!-- <div class="h6"><a href="" class="js-prevent-default">Choisissez une image</a> ou <b>glissez ici</b>.</div> -->
            <div class="h6"><span class="fake-link">{% translate "Choose an image" %}</span> {% translate "or" %} <b>{% translate "drag and drop here" %}</b>.</div>
            <div class="small">{% translate "Maximum size" %} : {{ s3_upload_config.max_file_size }} {% translate "MB" %}</div>
            <div class="small">{% translate "File type" %} : PNG, JPEG, SVG, GIF</div>
        </a>
        </div>
    </div>
</div>
<noscript>
    <div class="alert alert-danger" role="status">
        {% translate "JavaScript is not activated. Please restart Javascript to enable adding images." %}
    </div>
</noscript>
