{% extends "admin/change_list.html" %}

{% load static %}

{% block extrahead %}
{{ block.super }}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    // remove first h1
    document.getElementsByTagName("h1")[1].remove();
  });
</script>
{% endblock %}

{% block content %}
<div style="padding:1rem;margin-bottom:1rem;">
  ⚠️ Rappel : Actuellement les catégories sont créés dans cet interface administrateur.<br>
  <strong>Mais elles n'apparaîtront pas tout de suite dans l'interface de l'application !</strong><br>
  Il faut encore exporter la donnée vers Github, un bouton à <a href="{% url 'admin:index' %}">l'Accueil</a> permet de le faire en 1 clic.<br>
  Plus de détails sur la procédure *actuelle* <a href="https://github.com/quiz-anthropocene/know-your-planet/wiki/Import-et-export-de-la-donn%C3%A9e">ici</a>.
</div>

<hr style="margin-top:20px;margin-bottom:20px" />

<!-- Render the rest of the ChangeList view by calling block.super -->
{% block content_title %}{{ block.super }}{% endblock %}
{{ block.super }}
{% endblock %}
