{% extends "layouts/base.html" %}
{% load i18n static django_bootstrap5 %}

{% block title %}{% translate "Add" %} - {% translate "Questions" %}{{ block.super }}{% endblock %}

{% block extra_css %}
{{ form.media.css }}
<link rel="stylesheet" href="{% static 'vendor/dropzone-5.9.3/dropzone.min.css' %}" />
{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <div class="row">
        <div class="col-12 my-auto">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">{% translate "Home" %}</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'questions:list' %}">{% translate "Questions" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{% translate "Add" %}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <form id="question_create_form" method="POST" action="">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-8">
                {% bootstrap_form form alert_error_type="all" %}
            </div>
            <!-- Sidebar -->
            <div class="col-md-4 d-none d-md-block">
                <div class="alert alert-primary" role="alert">
                    🖼️ {% blocktrans %}You can add an <strong>image</strong> at the end of the form{% endblocktrans %}&nbsp;👇
                </div>
            </div>
        </div>

        <hr />

        <!-- answer_image_url upload form -->
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    {# {{ form.answer_image_url.as_hidden }} #}
                    <label for="image_form" class="form-label js-display-if-javascript-enabled">{{ form.answer_image_url.label }}</label>
                    {% include "includes/_s3_upload_form.html" with dropzone_form_id="image_form" %}
                </div>
                <small>{% translate "Quick tool to compress images:" %} <a href="https://tinypng.com" target="_blank">tinypng.com</a></small>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col">
                {% bootstrap_button button_type="submit" button_class="btn-primary" content=_("Add") %}
                {# {% bootstrap_button button_type="reset" button_class="btn-secondary" content=_("Cancel") %} #}
                <a class="btn btn-secondary" href="{% url 'questions:list' %}">{% translate "Cancel" %}</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}


{% block extra_js %}
{{ form.media.js }}
<script type="text/javascript" src="{% static 'vendor/dropzone-5.9.3/dropzone.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/s3_upload.js' %}"></script>
{{ s3_form_values|json_script:"s3-form-values-question-image" }}
{{ s3_upload_config|json_script:"s3-upload-config-question-image" }}
<script type="text/javascript">
// init dropzone
s3UploadInit({
    dropzoneSelector: "#image_form",
    callbackLocationSelector: "#{{ form.answer_image_url.id_for_label }}",
    s3FormValuesId: "s3-form-values-question-image",
    s3UploadConfigId: "s3-upload-config-question-image",
});
</script>
{% endblock %}
