{% extends "questions/detail_base.html" %}
{% load i18n static django_bootstrap5 %}

{% block extra_css %}
{{ form.media.css }}
<link rel="stylesheet" href="{% static 'vendor/dropzone-5.9.3/dropzone.min.css' %}" />
{% endblock %}

{% block question_detail_content %}
<div class="row">
    <div class="col-12">
        {% if user_can_edit %}
            <form id="question_edit_form" method="POST" action="">
                {% csrf_token %}

                <div class="row">
                    <div class="col-md-8">
                        {% bootstrap_form form alert_error_type="all" %}
                    </div>
                    <!-- Sidebar -->
                    <div class="col-md-4 d-none d-md-block">
                        {% if question.author == user %}
                            <div class="alert alert-primary" role="alert">
                                ℹ️ Vous êtes <strong>l'auteur</strong> de cette question
                            </div>
                        {% endif %}
                        {% if not question.is_private %}
                            {% if not question.is_validated %}
                                <div class="alert alert-warning" role="alert">
                                    ✍️ La question n'est pas encore <strong>validée</strong>.<br />
                                    <small>Seul un administrateur peut le faire.</small>
                                    {% if user.has_role_administrator %}
                                        <br /><small><strong>Vous êtes administrateur&nbsp;😉</strong></small>
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% if question.validator %}
                                <div class="alert alert-success" role="alert">
                                    ✅ Validée par <strong>{{ question.validator }}</strong> le {{ question.validation_date|date:"d F Y" }}
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if not question.answer_image_url %}
                            <div class="alert alert-primary" role="alert">
                                🖼️ {% blocktrans %}You can add an <strong>image</strong> at the end of the form{% endblocktrans %}&nbsp;👇
                            </div>
                        {% endif %}
                    </div>
                </div>

                <hr />

                <!-- answer_image_url upload form -->
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            {# {{ form.answer_image_url.as_hidden }} #}
                            <label for="image_form" class="form-label js-display-if-javascript-enabled">{{ form.answer_image_url.label }}</label>
                            {% include "includes/_s3_upload_form.html" with dropzone_form_id="image_form" %}
                        </div>
                        <small>{% translate "Quick tool to compress images:" %} <a href="https://tinypng.com" target="_blank">tinypng.com</a></small>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label class="form-label">{% translate "Current image" %}</label>
                            {% if form.answer_image_url.value %}
                                <div>
                                    <img class="img-fluid" src="{{ form.answer_image_url.value }}" />
                                </div>
                            {% else %}
                                <span class="form-text text-muted">{% translate "None" %}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col">
                        {% bootstrap_button button_type="submit" button_class="btn-primary" content=_("Save") %}
                        {# {% bootstrap_button button_type="reset" button_class="btn-secondary" content=_("Cancel") %} #}
                        <a class="btn btn-secondary" href="{% url 'questions:detail_view' question.id %}">{% translate "Cancel" %}</a>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-danger" disabled>{% translate "Delete" %}</button>
                    </div>
                </div>
            </form>
        {% else %}
            <div class="alert alert-warning" role="alert">
                {% if question.is_private %}
                    Vous n'avez pas les droits nécessaires <small>(seul l'auteur peut modifier une question privée)</small>
                {% else %}
                    Vous n'avez pas les droits nécessaires <small>(seul l'auteur ou un super-contributeur peut modifier une question publique)</small>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
{{ form.media.js }}
<script type="text/javascript" src="{% static 'vendor/dropzone-5.9.3/dropzone.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/s3_upload.js' %}"></script>
{{ s3_form_values|json_script:"s3-form-values-question-image" }}
{{ s3_upload_config|json_script:"s3-upload-config-question-image" }}
<script type="text/javascript">
// init dropzone
s3UploadInit({
    dropzoneSelector: "#image_form",
    callbackLocationSelector: "#{{ form.answer_image_url.id_for_label }}",
    s3FormValuesId: "s3-form-values-question-image",
    s3UploadConfigId: "s3-upload-config-question-image",
});
</script>
{% endblock %}
