{% extends "layouts/base.html" %}
{% load i18n custom_filters %}

{% block title %}{% translate "Question" %} #{{ question.id }}{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <div class="row">
        <div class="col-12 my-auto">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">{% translate "Home" %}</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'questions:list' %}">{% translate "Questions" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page" title="{{ question }}">{{ question|truncatechars:50 }}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-3">
        <div class="col-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link {% if 'view' in request.path %}active fw-bold{% endif %}" href="{% url 'questions:detail_view' question.id %}">{% translate "Details" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'edit' in request.path %}active fw-bold{% endif %}" href="{% url 'questions:detail_edit' question.id %}">{% translate "Edit" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'quizs' in request.path %}active fw-bold{% endif %}" href="{% url 'questions:detail_quizs' question.id %}">{% translate "Quizs" %} ({{ question.quiz_count }})</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'comments' in request.path %}active fw-bold{% endif %}" href="{% url 'questions:detail_contributions' question.id %}">{% translate "Comments" %} ({{ question.contribution_count }})</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'stats' in request.path %}active fw-bold{% endif %}" href="{% url 'questions:detail_stats' question.id %}">{% translate "Statistics" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'history' in request.path %}active fw-bold{% endif %}" href="{% url 'questions:detail_history' question.id %}">{% translate "History" %}</a>
                </li>
            </ul>
        </div>
    </div>

    {% block question_detail_content %}{% endblock %}
</div>
{% endblock %}
