{% extends "layouts/base.html" %}
{% load i18n django_bootstrap5 %}

{% block title %}Réinitialisation du mot de passe{{ block.super }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8">
            <h1>Réinitialisation du mot de passe</h1>

            <p>Indiquez votre adresse e-mail ci-dessous, et nous vous enverrons un e-mail pour le réinitialiser.</p>

            <form method="POST" action="{% url 'auth:password_reset' %}">

                <div class="bg-white d-block rounded-lg shadow-lg p-3 p-lg-5">
                    {% csrf_token %}

                    {% bootstrap_form_errors form type="all" %}

                    <fieldset>
                        {% bootstrap_field form.email %}
                    </fieldset>

                    <br />

                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">
                                <span>Réinitialiser votre mot de passe</span>
                            </button>
                        </div>
                    </div> 
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}
