{% extends "layouts/base.html" %}
{% load i18n django_bootstrap5 %}

{% block title %}Saisissez un nouveau mot de passe{{ block.super }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8">
            {% if validlink %}

                <h1>Saisissez un nouveau mot de passe</h1>

                <form method="POST">

                    <div class="bg-white d-block rounded-lg shadow-lg p-3 p-lg-5">
                        {% csrf_token %}

                        {% bootstrap_form_errors form type="all" %}

                        <fieldset>
                            {% bootstrap_field form.new_password1 %}
                            {% bootstrap_field form.new_password2 %}
                        </fieldset>

                        <br />

                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block">
                                    <span>Modifier le mot de passe</span>
                                </button>
                            </div>
                        </div>
                    </div>

                </form>

            {% else %}

                <h2 class="mb-3 mb-lg-5">Ce lien est invalide,</h2> 
                <p>Peut-être parce qu'il a déjà été utilisé. Veuillez répeter la procédure de réinitialisation pour obtenir un nouveaut lien.</p>
                <p><a href="{% url 'auth:login' %}">Me connecter</a></p>

            {% endif %}

        </div>
    </div>
</div>
{% endblock %}
