{% extends "layouts/base.html" %}
{% load i18n django_bootstrap5 %}

{% block title %}{% translate "Author cards" %}{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <div class="row">
        <div class="col-12 my-auto">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">{% translate "Home" %}</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'users:home' %}">{% translate "Users" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{% translate "Author cards" %}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-9">
            <h1>{% translate "Author cards" %} <span class="fs-3 text-muted">{{ users_with_card.count }}</span></h1>
        </div>
    </div>
    {% if user.has_role_administrator %}
        <div class="alert alert-warning" role="alert">
            Pour l'instant, les fiches auteurs peuvent seulement être crées et modifiées dans <a href="{% url 'django:users_usercard_changelist' %}" target="_blank">Django</a>.
        </div>
    {% endif %}
    <div class="row">
        {% for user in users_with_card %}
            <div class="col-4">
                {% include "users/_author_card.html" with user=user %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
