name: test_frontend

on: [push]

jobs:
  test_frontend:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: frontend
    
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: "${{ secrets.GITHUB_TOKEN }}"

      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14

      # how to cache ? https://stackoverflow.com/a/62244232
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install frontend dependencies
        run: yarn install --prefer-offline --frozen-lockfile  # won't update the yarn.lock

      - name: Run ESlint
        run: yarn lint

      - name: Run Test E2E (Nightwatch)
        run: yarn test:e2e
        env:
          BROWSER: chrome
          VUE_APP_I18N_LOCALE: fr
          VUE_APP_I18N_FALLBACK_LOCALE: fr
  