.font-size-small {
    font-size: small;
}

[aria-expanded="false"] #collapse-up-ico {
    display: none;
}
[aria-expanded="false"] #collapse-down-ico {
    display: inline;
}
[aria-expanded="true"] #collapse-up-ico {
    display: inline;
}
[aria-expanded="true"] #collapse-down-ico {
    display: none;
}

a.no-style {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}


/* Breadcrumb */

ol.breadcrumb {
    margin-top: 1rem;
}


/* Table */

/* use width of the page */
div.table-container > table {
    min-width: 50% !important;
}

/* header style */
div.table-container > table > thead > tr > th {
    min-width: 30px;
    background-color: #0d6efd;
}
div.table-container > table > thead > tr > th,
div.table-container > table > thead > tr > th > a {
    color: #ffffff;
    text-decoration: none;
}

/* header fixed */
div.table-container > table.header-fixed > thead > tr > th {
    background-color: #0d6efd;
    position: sticky;
    top: 0;
}

div.table-container > nav > ul {
    margin-top: 1rem;
}


/* Table filters */

form.collapse {
    background-color: #FBFBFB;
    padding: 1rem;
}


/* Forms */

label.form-label {
    font-weight: bold;
}

.form-group-required > label::after,
.form-group-required > div > label::after,
label.required::after {
    content: " *";
    font-weight: 900;
    font-size: 1rem;
}

div.django-ckeditor-widget {
    width: 100%;
}
div.django-ckeditor-widget > div.cke {
    max-width: 100%;
}


/* Cards */

.card {
    box-shadow: 0 2px 10px 0 rgb(0 6 56 / 10%);
}


/* bootstrap-multiselect */

span.multiselect-selected-text {
    float: left;
}


/* django-autocomplete-light */
/* https://github.com/yourlabs/django-autocomplete-light/issues/698 */
.select2-container {
    width: 100% !important;
}
.select2-container .select2-selection--single {
    height: 40px !important;
}
.select2-container .select2-selection--multiple {
    min-height: 45px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    height: 100% !important;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
    overflow: auto !important;
}
