
.line {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
}
.print-btn {
  // position: fixed;
  z-index: 2;
}
.printbg {
  z-index: 1;
  background-color: #fff;
  width: 1000px;
}

.flex {
  display: flex;
  flex-flow: row wrap;
}

.page {
  margin-bottom: 20px;
}

.print {
  // position: absolute;
  display: flex;
  font-size: 16px;
  // margin-left: 30px;
  h3 {
    font-size: 18px;
  }
  // z-index: 100000;
  // transform: scale(0.3);
  .row{
    margin: 0;
    padding: 0 10px 10px 10px;
  }
  .recto {
    // transform: rotate(90deg);

  }
  .verso {
    // left: 28vw;
    // margin: 0 10px 0 10px;
    // transform: rotate(-90deg);
    // margin-left: 10px;

    .good-answer {
      margin: auto;

      .letter {
        // background-color: var(--bg-color);
        border: 1px solid rgba(0, 0, 0, 0.5);
        padding: 4px;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 17px;
        margin-left: 10px;
      }
      .ans {
        margin-left: 10px;

      }
    }

    .qrcode {
      position: absolute;
      bottom: 100px;
      left: calc(50% - 50px);
      img {
        width: 100px;
        height: 100px;
      }
    }
  }

  .card {
    width: 500px;
    height: 500px;
    border-radius: 5px;
    background-color: white;
    border: solid 1px;
    // margin-left: 10px;
    margin-bottom: 1px;

    .header {
      height: 15px;
      margin: 10px;
      background: repeating-linear-gradient(-90deg, #000, #000 5px, #fff 5px, #fff 10px);
    }

    .footer {
      // Not working on print
      // background: var(--bg-color);
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      height: 80px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;

      .logo {
        text-align: left;
        img {
          height: 75px;
        }
      }

      .content {
        margin: 10px 0 10px 0;
        .title {
          font-size: 20px;
          line-height: 1em;
          text-transform: uppercase;
          text-align: left;
        }

        .category {
          left: 0;
          text-align: center;
          border: solid 1px;
          border-radius: 8px;
          font-size: 12px;
        }
      }
    }

    .question {
      margin: 0;
      max-height: 190px;
      text-align: left;
    }
    .answers {
      padding: 0 10px 10px 10px;
      .group {
        display: flex;
        margin-bottom: 10px;
        .letter {
          // background-color: var(--bg-color);
          border: 1px solid rgba(0, 0, 0, 0.5);
          padding: 4px;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          text-align: center;
          line-height: 17px;
        }
        .answer {
          padding-left: 10px;
          max-width: 90%;
        }

      }
    }
  }
}
